__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.eggs
.pytest_cache
.mypy_cache
.venv
venv
env
.uv-cache
.git
.gitignore
.dvc
*.dvc
data/
models/
artifacts/
plots/
outputs/
.pre-commit-config.yaml
uv.lock
README.md
Task.md
Tree.md
temp.py
