# @package hydra.job
version: 1
format: '[%(levelname)s] - %(name)s - %(message)s'
disable_existing_loggers: false

handlers:
  console:
    class: logging.StreamHandler
    formatter: simple
    stream: ext://sys.stdout

root:
  level: INFO
  handlers: [console]

disable_existing_loggers: false
